<div class="row">
  <h1 class="mb-2">新着記事</h1>
  <div class="timeline d-inline-flex my-4">
    <% @articles.each do |article| %>
      <div class="col-sm-3">
        <p class="title"><%= link_to article.title, article_path(article.id) %></p>
        <%= link_to article.user.name, user_path(article.user) %>
      </div>
    <% end %>
  </div>
<%== pagy_nav(@pagy) %>
</div>