<h3 class="mb-4 d-inline-block">＃<%= @search[:tag_name_cont] %></h3>

<% if @articles.present? %>
  <span class="fw-normal tag-count"><%= @articles.count %>件</span>
  <ul>
    <% @articles.each do |article| %>
      <li><%= link_to article.title, article_path(article.id) %> / <%= link_to article.user.name, user_path(article.user) %></li>
    <% end %>
  </ul>
<% else %>
  <div>
    <p>該当するタグは見つかりませんでした</p>
  </div>
<% end %>