<div class="user-icon">
  <span class="fa-solid fa-circle-user fa-4x"></span>
</div>

<h3 class="d-inline-block"><%= @user.name %></h3>
  <%= render 'relationships/follow_button', user: @user %>
  <%= render 'users', users: @followings %>
