<div class="user-icon">
  <%= image_tag 'circle-user-solid.svg', size:'50x50' %>
</div>

<h3 class="d-inline-block"><%= @user.name %></h3>
  <%= render 'relationships/follow_button', user: @user %>
  <%= render 'users', users: @followings %>
