<div class="user-icon">
  <span class="fa-solid fa-circle-user fa-4x"></span>
</div>

<h3 class="d-inline-block"><%= @user.name %></h3>
  <ul>
    <% @user.likes.each do |like| %>
    <li><% article = Article.find_by(id: like.article_id) %></li>
    <%= link_to article.title, article_path(article.id) %> / <%= link_to article.user.name, user_path(article.user) %>
    <% end %>
  </ul>
  <%== pagy_nav(@pagy) %>
