/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
 
 body {
   color: #2b3e4f;
 }
 
 a {
   color: darkgray;
 }
 
 a:hover {
   color: inherit;
 }
 
/*ナビバー*/
 .navbar-brand {
   font-family: 'Comfortaa', serif;
   font-weight: bold;
   color: #2b3e4f;
 }
 
 button .btn {
   background-color: #17b67b;
   color: #fff;
 }
 
 .nav-link {
   color: #2b3e4f;
 }
 
 .nav-link:hover {
   color: inherit;
 }
 
 .dropdown-toggle::after {
   display: none;
 }
 
 .fa-circle-user:before {
   color: #2b3e4f;
 }
 
 .btn:focus {
  box-shadow: none;
 }
 
 li {
  list-style: none;
}

.error_message {
  color: red;
 }

 /*ログインボタン*/
 .nav-item {
   background-color: #2b3e4f;
   color: #fff;
   border: 2px solid #2b3e4f;
   border-radius: 20px;
   font-weight: bold;
   padding: 8px 13px;
 }