// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

li {
  list-style: none;
}

// 投稿ボタン
.post-button {
  appearance: none;
  background-color: #fff;
  border: 2px solid #17b67b;
  border-radius: 50px;
  box-sizing: border-box;
  color: #17b67b;
  cursor: pointer;
  display: inline-block;
  font-family: serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 50px 0 10px 0;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  will-change: transform;
}

.post-button:disabled {
  pointer-events: none;
}

.post-button:hover {
  color: #fff;
  background-color: #17b67b;
}

.post-button:active {
  transform: translateY(0);
}

.text-title {
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

.text-content {
  border: none;
  resize: none;
  outline: none;
  width: 100%;
}

.text-tag {
  border: none;
  resize: none;
  outline: none;
  width: 100%;
}

h1 {
  margin-bottom: 30px;
}