// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 投稿ボタン
.post-button {
  appearance: none;
  background-color: #fff;
  border: 2px solid #2b3e4f;
  border-radius: 50px;
  box-sizing: border-box;
  color: #2b3e4f;
  cursor: pointer;
  display: inline-block;
  font-family: serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 50px 0 10px 0;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  will-change: transform;
}

.post-button:disabled {
  pointer-events: none;
}

.post-button:hover {
  color: #fff;
  background-color: #2b3e4f;
}

.post-button:active {
  transform: translateY(0);
}

//新規投稿　入力フォーム
.text-title {
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

.text-content {
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  height: 500px;
}

.text-tag {
  border: none;
  resize: none;
  outline: none;
  width: 100%;
}

//仮トップ画
.test {
  font-size: 30px;
  font-weight: bold;
  color: #0e6ac7;
  display:inline-block;
  margin: 0px 5px 0px 0px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.cover {
  display:inline-block;
  text-align: center;
}

.timeline div {
  margin: 0 10px; 
  padding: 0 10px;
  border: solid 1px darkgray;
  border-radius: 5px;
}

.title {
  font-weight: bold;
}