// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-icon {
margin-bottom: 10px;  
}

a {
  text-decoration:none;
}

span {
  font-weight: bold;
}

//サインアップ
.signup {
  background: #17b67b;
  margin: 30px auto;
  padding: 50px 20px 20px;
  width: 500px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  border: solid 3px #2b3e4f;
}

.textfield {
  width: 80%;
  height: 35px;
  border: 1px solid;
  border-radius: 7px;
  border-color: #c4c4c4;
}

.textfield:focus {
  outline: 4px solid #eff4f7;
}

::placeholder {
  color: #ccc;
}

.signup-button {
  appearance: none;
  background-color: #fff;
  border: 2px solid #2b3e4f;
  border-radius: 20px;
  box-sizing: border-box;
  color: #2b3e4f;
  cursor: pointer;
  display: inline-block;
  font-family: serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 30px 0 10px 0;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 130px;
  will-change: transform;
}

.signup-button:disabled {
  pointer-events: none;
}

.signup-button:hover {
  color: #fff;
  background-color: #2b3e4f;
}

.signup-button:active {
  transform: translateY(0);
}

.fa-gear {
  border: none;
  color: darkgray;
}

.fa-gear:hover {
   color: inherit;
 }
 
 .modal-edit:focus {
 box-shadow: none;
}
 
// ユーザー編集フォーム
.rename-form {
  border: none;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #2b3e4f;
}

.rename-form:focus {
  outline: none;
}

.edit-user-button {
  border: 1px solid #2b3e4f;
  border-radius: 50px;
  color: #2b3e4f;
  padding: 5px 24px;
  background-color: #fff;
}

.edit-user-button:hover {
  background-color: #2b3e4f;
  color: #fff;
}

.close {
  text-align: right;
  margin: 2px 20px 0 0;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.modal-body {
  padding: 0 0 20px 0;
}

// ユーザーアイコン
.user-img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  overflow: hidden;
}

.modal-user-img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  overflow: hidden;
}

// ユーザーページ：タブ機能
.tab {
  flex-grow: 1;
  padding: 5px 15px;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.panel {
  display: none;
}
.tab.is-active {
  border-bottom: solid 3px #2b3e4f;
}
.panel.is-show {
  display: block;
}

.tab-group li {
  font-weight: bold;
  float: left;
  margin-bottom: 30px;
}

.tab-likes {
  color: #2b3e4f;
} 